/*social media links*/
/* footer */
#footer {
  background: #272833;
  padding: 3em 0;
  text-align: center;
}

.fa {
  color: white;
  transition: color 1s !important;
}
.fa a {
  width: 50px;
  font-size: 2vw;
}

.fa:hover {
  color: #77f8ff;
}

/*navigation bar*/
nav {
  background-color: transparent !important;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
  position: absolute !important;
  width: 100vw !important;
}
.navbar-brand,
.nav-link {
  color: white;
  transition: color 1s;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #77f8ff !important;
}
.nav-item.dropdown div {
  background-color: transparent;
  border-color: #272833;
}
.nav-item.dropdown div a {
  color: white;
  transition: color 1s !important;
  transition: background-color 1s;
}

.nav-item.dropdown div a:hover {
  background-color: #262627;
  color: #77f8ff;
}

/*header*/
.header-div {
  background-attachment: fixed;
  background-image: url("../../images/banner.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  text-align: right;
  color: white;
  padding-right: 35%;
  padding-top: 25%;
}

.header-descript {
  font-size: 2vh;
  padding-right: 5%;
  display: inline-block;
  vertical-align: middle;
}

.header-descript h2 {
  font-size: 2.5em;
  margin: 0;
}

.header-descript p {
  margin: 0.5em 0 0 0;
  top: 0;
}
/*top profile picture*/
.prof-pic {
  object-fit: cover;
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}

/*loading screen*/
.load-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 10001;
  position: fixed;
}

.box {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.box .b {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-top: 4px solid transparent !important;
  border-bottom: 4px solid transparent !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rot 2s infinite;
}

.box .b1 {
  border-color: #6600ff;
  height: 120px;
  width: 120px;
}
.box .b2 {
  border-color: #00f2ff;
  height: 100px;
  width: 100px;
  animation-delay: 0.2s;
}
.box .b3 {
  border-color: #ff00dd;
  height: 80px;
  width: 80px;
  animation-delay: 0.4s;
}
.box .b4 {
  border-color: white;
  height: 60px;
  width: 60px;
  animation-delay: 0.6s;
}

@keyframes rot {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

/*about section*/

.about-div {
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-image: url("../../images/bridge.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: middle;
  padding-top: 30vh;
}

.about-descript {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 70vh;
  padding-left: 17%;
  padding-top: 4%;
}
.about-column {
  float: left;
  width: 28%;
  font-size: 18px;
  vertical-align: center;

  color: #c4c4c4;
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100%;
}

@media (max-width: 1600px) {
  .about-column {
    font-size: 0.95em;
  }
  .about-header h2 {
    font-size: 0.95em;
  }
}
@media (max-width: 1000px) {
  .about-column {
    font-size: 0.8em;
  }
  .about-header h2 {
    font-size: 0.8em;
  }
}
@media (max-width: 900px) {
  .about-column {
    font-size: 0.7em;
  }
  .about-header h2 {
    font-size: 0.6em;
  }
}
@media (max-width: 700px) {
  .about-column {
    font-size: 0.6em;
  }
  .about-header h2 {
    font-size: 0.5em;
  }
}
@media (max-width: 500px) {
  .about-column {
    font-size: 0.4em;
  }
  .about-header h2 {
    font-size: 0.3em;
  }
}
/*resume section*/

.resume-div {
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-image: url("../../images/resume.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: middle;
  margin-top: 0;
}

.resume-sideT {
  background-color: rgba(0, 0, 0, 0.8);
  width: 30%;
  height: 100vh;
  color: #c4c4c4;
  padding: 4%;
  padding-top: 5%;
}

.resume-sideT header h2 {
  font-size: 3vw;
}
.resume-sideT header p {
  font-size: 100%;
}

/*linkedin section*/

.linkedin-div {
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-image: url("../../images/network.png");
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: middle;
  margin-top: 0;
}

.linkedIn-sideT {
  background-color: rgba(0, 0, 0, 0.8);
  width: 30%;
  height: 100vh;
  color: #c4c4c4;
  padding: 4%;
  padding-top: 5%;
  float: right;
}

.linkedIn-sideT header h2 {
  font-size: 3vw;
}
.linkedIn-sideT header p {
  font-size: 100%;
}

/*projects*/

.project-header {
  vertical-align: center;
  text-align: center;
  color: #c4c4c4;
  font-size: 1.5vw;
  margin-top: 5%;
  padding-bottom: 50%;

  height: 20%;
  width: auto;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  padding-bottom: 10%;
}

.project-header h2 {
  font-size: 2vw;
  color: #f0f0f0;
}

.anim-rect {
  margin-left: 50%;
  transform: translate(-50%, 0%);
  width: 10%;
  height: 1vw;
  background-color: #77f8ff;
  animation: expand 10s infinite;
}
@keyframes expand {
  0% {
    width: 35%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 35%;
  }
}

/*fade animation */

.hideme {
  opacity: 0;
}
/*project cards*/
.card-img-top {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  margin-left: 15vw;
  transform: translate(-50%);
}

.card-text {
  font-size: small;
}

body {
  background-color: #262627;
}

/*projects pages*/
.projects {
  color: white;
  text-align: center;
  width: 80%;
  margin-left: 50%;
  margin-top: 10%;
  transform: translate(-50%);
}
.projects .descript h2 {
  font-size: 50px;
  text-shadow: 1px 1px #77f8ff;
}

.projects .descript p {
  font-size: 25px;
}

.proj-sec {
  width: 50%;
  margin-left: 50%;
  margin-top: 300px;
  transform: translate(-50%);
}
.proj-sec img {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.proj-sec p,
.proj-sec a {
  text-align: left;
  float: left;
}
