/*social media links*/
/* footer */

:root {
  --bg: #272833;
  --bg-opacity: rgb(0, 0, 0, 0.8);
  --text: white;
  --loading: black;
  --sub-text: #c4c4c4;
  --bg-opposite: white;
  --nav: rgb(0, 0, 0, 0.3);
  --lblue: #77f8ff;
  --bg-projects: black;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out !important;
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100em;
  height: 100em;
}
#footer {
  background: var(--bg);
  padding: 3em 0;
  text-align: center;
}

.fa {
  color: var(--text);
  transition: color 1s !important;
}
.fa a {
  width: 50px;
  font-size: 2vw;
}

.fa:hover {
  color: var(--lblue);
}

.lblue-link {
  text-decoration: none;
  color: white;
  transition: color 1s;
}
.lblue-link:hover {
  text-decoration: none;
  color: var(--lblue);
}

/*navigation bar*/
nav {
  background-color: var(--nav) !important;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
  position: absolute !important;
  width: 100vw !important;
  transition: background 500ms ease-in-out;
}
.navbar-brand,
.nav-link {
  color: white;
  transition: color 1s;
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--lblue) !important;
}
.nav-item.dropdown div {
  background-color: var(--bg-opacity);
  border-color: var(--bg);
}
.nav-item.dropdown div a {
  color: var(--text);
  transition: color 1s !important;
  transition: background-color 1s;
}

.nav-item.dropdown div a:hover {
  background-color: var(--bg);
  color: var(--lblue);
}

/*header*/
.header-div {
  
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/banner.jpg");;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  text-align: right;
  color: white;
  padding-right: 35%;
  padding-top: 25%;
}

.header-descript {
  font-size: 2vh;
  padding-right: 5%;
  display: inline-block;
  vertical-align: middle;
}

.header-descript h2 {
  font-size: 2.5em;
  margin: 0;
}

.header-descript p {
  margin: 0.5em 0 0 0;
  top: 0;
}
/*top profile picture*/
.prof-pic {
  object-fit: cover;
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  border: 2px transparent var(--lblue);
  transition: border 0.5s;
}
.prof-pic:hover {
  border: 2px solid var(--lblue);
  transition: border 0.5s;
}

/*loading screen*/
.load-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--loading);
  top: 0;
  left: 0;
  z-index: 10001;
  position: fixed;
}

.box {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.box .b {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-top: 4px solid transparent !important;
  border-bottom: 4px solid transparent !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rot 2s infinite;
}

.box .b1 {
  border-color: #6600ff;
  height: 120px;
  width: 120px;
}
.box .b2 {
  border-color: #00f2ff;
  height: 100px;
  width: 100px;
  animation-delay: 0.2s;
}
.box .b3 {
  border-color: #ff00dd;
  height: 80px;
  width: 80px;
  animation-delay: 0.4s;
}
.box .b4 {
  border-color: white;
  height: 60px;
  width: 60px;
  animation-delay: 0.6s;
}

@keyframes rot {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

/*about section*/

.about-div {
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-image: url("../../images/bridge.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: middle;
  padding-top: 30vh;
}

.about-descript {
  background-color: var(--bg-opacity);
  width: 100%;
  height: 70vh;
  padding-left: 17%;
  padding-top: 4%;
  transition: background 500ms ease-in-out;
}
.about-column {
  float: left;
  width: 28%;
  font-size: 18px;
  vertical-align: center;

  color: var(--sub-text);
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100%;
}

@media (max-width: 1600px) {
  .about-descript {
    padding-left: 16%;
  }
  .about-column {
    font-size: 0.95em;
    width: 32%;
  }
}

@media (max-width: 1300px) {
  .about-header h2 {
    font-size: 10px;
  }
}

@media (max-width: 1000px) {
  .about-descript {
    padding-left: 13%;
  }
  .about-column {
    font-size: 0.8em;
    width: 33%;
  }
  .about-header h2 {
    font-size: 0.8em;
  }
}
@media (max-width: 900px) {
  .about-descript {
    padding-left: 10%;
  }
  .about-column {
    font-size: 0.8em;
    width: 33%;
  }
  .about-header h2 {
    font-size: 0.7em;
  }
}
@media (max-width: 700px) {
  .about-descript {
    padding-left: 9%;
  }
  .about-column {
    font-size: 0.8em;
    width: 33%;
  }
  .about-header h2 {
    font-size: 0.7em;
  }
}
@media (max-width: 540px) {
  .about-descript {
    padding-left: 5%;
  }
  .about-column {
    font-size: 0.7em;
    width: 33%;
  }
  .about-header h2 {
    font-size: 0.6em;
  }
}
/*resume section*/

.resume-div {
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-image: url("../../images/resume.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: middle;
  margin-top: 0;
}

.resume-sideT {
  background-color: var(--bg-opacity);
  width: 30%;
  height: 100vh;
  color: var(--sub-text);
  padding: 4%;
  padding-top: 5%;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out !important;
}

.resume-sideT header h2 {
  font-size: 3vw;
}
.resume-sideT header p {
  font-size: 100%;
}

/*linkedin section*/

.linkedin-div {
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-image: url("../../images/network.png");
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: middle;
  margin-top: 0;
}

.linkedIn-sideT {
  background-color: var(--bg-opacity);
  width: 30%;
  height: 100vh;
  color: var(--sub-text);
  padding: 4%;
  padding-top: 5%;
  float: right;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out !important;
}

.linkedIn-sideT header h2 {
  font-size: 3vw;
}
.linkedIn-sideT header p {
  font-size: 100%;
}

/*projects*/

.project-header {
  vertical-align: center;
  text-align: center;
  color: var(--sub-text);
  font-size: 1.5vw;
  padding-top: 5%;
  margin-top: 0%;
  padding-bottom: 50%;

  height: 20%;
  width: auto;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  padding-bottom: 10%;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out !important;
}

.project-header h2 {
  font-size: 2vw;
  color: var(--sub-text);
}

.anim-rect {
  margin-left: 50%;
  transform: translate(-50%, 0%);
  width: 10%;
  height: 1vw;
  background-color: var(--lblue);
  animation: expand 10s infinite;
}
@keyframes expand {
  0% {
    width: 35%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 35%;
  }
}

/*fade animation */

.hideme {
  opacity: 0;
  
}

/*project cards*/
.projects-div {
  
  background-color: var(--bg-projects) !important;
  padding-bottom: 10%;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out !important;
  
  
}
.card-img-top {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
}
.card-body {
  color: var(--text) !important;
}
.card-text {
  font-size: small;
}

/*projects pages*/
.projects {
  color: var(--text);
  text-align: center;
  width: 80%;
  margin-left: 50%;
  margin-top: 10%;
  transform: translate(-50%);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out !important;
}
.projects .descript h2 {
  font-size: 50px;
  text-shadow: 1px 1px var(--lblue);
}

.projects .descript p {
  font-size: 25px;
}

.proj-sec {
  width: 50%;
  margin-left: 50%;
  margin-top: 300px;
  transform: translate(-50%);
}
.proj-sec img {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.proj-sec p,
.proj-sec a {
  text-align: left;
  float: left;
}
/*theme changer*/

#theme {
  position: fixed;
  text-decoration: none;
  top: 100vh;
  left: 0px;
  z-index: 2;
  width: 110px;
  height: 20px;
  background-color: var(--loading);
  text-align: center;
  color: var(--bg-opposite);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  transform: translateY(-100%);
  transition: color 1s ease-in-out !important;
  transition: background-color 1s ease-in-out !important;
  font-size: 15px;
  -webkit-backface-visibility: hidden !important;
}
#theme:hover {
  background-color: var(--lblue);
  color: black;
  transition: color 1s ease-in-out !important;
  transition: background-color 1s ease-in-out !important;
}

.light {
  --bg: rgb(231, 230, 231);
  --bg-opacity: rgb(255, 255, 255, 0.8);
  --text: black;
  --loading: white;
  --sub-text: black;
  --bg-opposite: #272833;
  --nav: rgb(255, 255, 255, 0.1);
  --bg-projects: white;
}
.dark {
  --bg: #272833;
  --bg-opacity: rgb(0, 0, 0, 0.8);
  --text: white;
  --loading: black;
  --sub-text: #c4c4c4;
  --bg-opposite: white;
  --nav: rgb(0, 0, 0, 0.3);
  --bg-projects: black;
}

#dark::before {
  background: #2a2e35;
}

#light::before {
  background: #ffffff;
}

/*bubbles*/
.circle{
  width: 20px;
  height: 20px;

  position: absolute;
  border-radius: 100%;
}